/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
/* end of custom fonts */

/* misc */
.container { padding-left: 2rem; padding-right: 2rem; max-width: 960px; }
header { margin-top: 2em; }
a, a:hover { text-decoration: none;
}
/* end of misc */

/* dark mode */
body.dark { --bg-color: #121212; --bg-secondary-color: #131316; --font-color: #f5f5f5; --color-grey: #ccc; --color-darkGrey: #777; }
/* end of dark mode */

/* dark theme switch */
#swith { font-size: 150%; }
/* end of dark theme switch */

/* thin text in H1 */
.thin { font-size: 62.5%; font-family: -apple-system, "BlinkMacSystemFont", "Avenir", "Avenir Next", "Segoe UI", "Roboto", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; font-weight: normal;
}
/* end of thin text in H1 */

/* name in H1 */
.name { font-family: 'La Belle Aurore', cursive; font-size: 150%; color: #14854F; }
/* end of name in H1 */

/* social icons */
aside { padding: auto; }
.socialbtns, .socialbtns ul, .socialbtns li { margin: 0; margin-top: .5rem; padding: 5px; }
.socialbtns li { list-style: none outside none; display: inline-block; }
/* end of social icons */

/* copyright */
.copyright { font-size: small; }
/* end of copyright */

/* email address protection */
code { color: #14854F; padding: .1em .1em; }
code::after { content: attr(data-domain); }
code::before { content: attr(data-user) "@"; }
/* end of email address protection */

/* portfolio */
.portfolio-container { display: grid; grid-template-columns: repeat(auto-fit, minmax(215px, 1fr)); grid-gap: 20px; padding-bottom: 2rem; }
.image-container { height: 0; padding-bottom: 110%; margin-bottom: .3rem; }
figure { float: right; width: 100%; text-align: center; font-size: small; text-indent: 0; border: thin silver solid; border-radius: 5px; margin: 0.2rem; padding: 0.2rem; }
figure > img { width: 100%; height: auto; object-fit: cover; border-radius: 5px; }
/* end of portfolio */

/*  */